    <legend>Suivi du dossier</legend>

<div class="row">
    <div class="form-group col-xs-12">
        <label for="anneeDepotReclam">Année de dépot</label>
        <input type="text" id="anneeDepotReclam" class="span12" placeholder="Année" ng-model="anneeDepotReclam">
    </div>
</div>

<h4>Liste des documents nécessaires</h4>

<div class="row">
    <div class="form-group col-xs-1">
        Taxe foncière
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinscinq"> {{anneeDepotReclam - 5}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsquatre">{{anneeDepotReclam - 4}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinstrois"> {{anneeDepotReclam - 3}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsdeux"> {{anneeDepotReclam - 2}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsun"> {{anneeDepotReclam - 1}}
    </div>
    <div class="form-group col-xs-1">
        <label for="dateDemande">Date demande</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateDemande" class="form-control col-xs-12" ng-model="dateDemande">
        </div>
    </div>
    <div class="form-group col-xs-1">
        <label for="dateReception">Date réception</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateReception" class="form-control col-xs-12" ng-model="dateReception">
        </div>
    </div>
    <div class="form-group col-xs-2">
        <label for="commentaire">Commentaire</label>
        <input type="text" id="commentaire" class="form-control col-xs-12 input-sm" placeholder="commentaire">
    </div>
</div><!--/row-->

<div class="row">
    <div class="form-group col-xs-1">
        Taxe Professionnelle
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinscinq"> {{anneeDepotReclam - 5}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsquatre">{{anneeDepotReclam - 4}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinstrois"> {{anneeDepotReclam - 3}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsdeux"> {{anneeDepotReclam - 2}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsun"> {{anneeDepotReclam - 1}}
    </div>
    <div class="form-group col-xs-1">
        <label for="dateDemande">Date demande</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateDemande" class="form-control col-xs-12" ng-model="dateDemande">
        </div>
    </div>
    <div class="form-group col-xs-1">
        <label for="dateReception">Date réception</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateReception" class="form-control col-xs-12" ng-model="dateReception">
        </div>
    </div>
    <div class="form-group col-xs-2">
        <label for="commentaire">Commentaire</label>
        <input type="text" id="commentaire" class="form-control col-xs-12 input-sm" placeholder="commentaire">
    </div>
</div><!--/row-->


<div class="row">
    <div class="form-group col-xs-1">
        Plan cadastre
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinscinq"> {{anneeDepotReclam - 5}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsquatre">{{anneeDepotReclam - 4}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinstrois"> {{anneeDepotReclam - 3}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsdeux"> {{anneeDepotReclam - 2}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsun"> {{anneeDepotReclam - 1}}
    </div>
    <div class="form-group col-xs-1">
        <label for="dateDemande">Date demande</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateDemande" class="form-control col-xs-12" ng-model="dateDemande">
        </div>
    </div>
    <div class="form-group col-xs-1">
        <label for="dateReception">Date réception</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateReception" class="form-control col-xs-12" ng-model="dateReception">
        </div>
    </div>
    <div class="form-group col-xs-2">
        <label for="commentaire">Commentaire</label>
        <input type="text" id="commentaire" class="form-control col-xs-12 input-sm" placeholder="commentaire">
    </div>
</div><!--/row-->


<div class="row">
    <div class="form-group col-xs-1">
        Relevé propriété
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinscinq"> {{anneeDepotReclam - 5}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsquatre">{{anneeDepotReclam - 4}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinstrois"> {{anneeDepotReclam - 3}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsdeux"> {{anneeDepotReclam - 2}}
    </div>
    <div class="form-group col-xs-1">
        <input type="checkbox" id="moinsun"> {{anneeDepotReclam - 1}}
    </div>
    <div class="form-group col-xs-1">
        <label for="dateDemande">Date demande</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateDemande" class="form-control col-xs-12" ng-model="dateDemande">
        </div>
    </div>
    <div class="form-group col-xs-1">
        <label for="dateReception">Date réception</label>

        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            <input type="text" id="dateReception" class="form-control col-xs-12" ng-model="dateReception">
        </div>
    </div>
    <div class="form-group col-xs-2">
        <label for="commentaire">Commentaire</label>
        <input type="text" id="commentaire" class="form-control col-xs-12 input-sm" placeholder="commentaire">
    </div>
</div><!--/row-->

