<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Kinoa::CRM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!--<li ng-show="isLogged"><a href="#">Reporter un bug</a></li>-->
            <!--<li ng-show="isAdmin"><a ng-href="#/import">Importer</a></li>-->
            <li ng-show="isAdmin"><a ng-href="#/societes">Liste des entreprises</a></li>
            <li><a href="#/aide">Aide</a></li>
            <li><a href="#/suivi">Suivi</a></li>
            <li class="dropdown" ng-show="isLogged">
                <a href class="dropdown-toggle" data-toggle="dropdown">Ajouter <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/societes/new">Ajouter une entreprise</a></li>
                    <li><a href="#/contacts/new">Ajouter un contact</a></li>
                    <li><a href="#/centreimpots/new">Ajouter un centre des impots</a></li>
                    <li class="divider"></li>
                    <li><a href="#/societes/admin">Administrer les entreprises</a></li>
                    <li><a href="#/users/admin">Administrer les utilisateurs</a></li>
                </ul>
            </li>
        </ul>
        <!--<form class="navbar-form navbar-left" role="search" ng-show="isLogged">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Recherche">
            </div>
            <button type="submit" class="btn btn-default">Chercher</button>
        </form>-->
        <ul class="nav navbar-nav navbar-right" ng-show="isLogged">
            <li><a href="#/logout">Deconnexion</a></li>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/users/{{user.id}}">Mon compte</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#/logout">Deconnexion</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-hide="isLogged">
            <li><a ng-href="#/login">Connexion</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
